# env
.env.local
.env.production.local
.dev.vars

# build
.next/
.open-next/
.wrangler/

# secrets / local env
.wrangler-secrets.tmp.json

# dependencies
node_modules/

# package lock
package-lock.json





